<div class="row">
	<div class="title">
		<div class="small-8 columns">
			<span>Centro de Votacion: {{centroVotacion.nombre}}</span>		
		</div>
		<div class="small-2 columns">
			Nro Mesas: {{gruposVotacion.count }}
		</div>
		<div class="small-2 columns">
			Electores: {{totalElectores.cantidad}}
		</div>
	</div>
</div>

<div class="row">
	<div class="small-6 columns">
		<table>
			<thead>
				<tr>
					<th width="150">Mesa</th>
					<th width="50">Nro Electores</th>
					<th width="10">Estado</th>
				</tr>
			</thead>
			<tbody>
			{% for grupoVotacion in gruposVotacion %}
				<tr>
					<td><a href="registrarActa/{{grupoVotacion.pk}}" class="grupoVotacion">{{grupoVotacion}}</a></td>
					<td>{{grupoVotacion.electoresHabiles}}</td>
					<td>
					{% if grupoVotacion.contabilizado %}
						<span class="icon-check"></span>
					{% endif %}
					</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="3">No existen mesas para este centro de votación</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="small-6 columns">
		<a href="#" class="button tiny" id="btnResumenCentroVotacion">Ver Avance</a>
		<div id="resumenCentroVotacion"></div>
	</div>
</div>


