<div class="row">
	<div class="title">
		<div class="small-8 columns">
			<span>Centro de Votacion: {{centroVotacion.nombre}}</span>		
		</div>
		<div class="small-2 columns">
			Nro Mesas: {{gruposVotacion.count }}
		</div>
		<div class="small-2 columns">
			Electores: {{totalElectores.cantidad}}
		</div>
	</div>
</div>

<div class="row">
	<div class="small-6 columns">
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th width="150">Mesa</th>
					<th width="50">Nro Electores</th>
					<th width="10">Estado</th>
				</tr>
			</thead>
			<tbody>
			{% for grupoVotacion in gruposVotacion %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="registrarActa/{{grupoVotacion.pk}}" class="grupoVotacion">{{grupoVotacion}}</a></td>
					<td>{{grupoVotacion.electoresHabiles}}</td>
					<td>
					{% for actaGV in actasGV %}
						{% if actaGV.grupoVotacion == grupoVotacion %}
							{% if actaGV.estado == 1 %}
								<span class="icon-check"></span>
							{% endif %}
						{% endif %}
					{% endfor %}
						
					</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="3">No existen mesas para este centro de votación</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="small-6 columns">
		<a href="#" class="button tiny" id="btnResumenCentroVotacion">Avance Centro Votación</a>
		<div id="resumenCentroVotacion"></div>
	</div>
</div>


