{% extends "layout.html" %}

{% block header %}
<header>
	<div class="row">
		<div class="small-1 columns">
			<figure>
				{% load staticfiles %}
				<img src="{%static 'img/logoSmall.png' %}" alt="Mas" />
			</figure>
		</div>
		<div class="small-11 columns">
			<h4 class="small-7 columns">Sistema de Conteo de Actas - REPORTES</h4>
			<div class="small-5 columns">
				<ul class="menu">
					<li><a href="/">Registro Actas</a></li>
					<li><a href="reportes">Reportes</a></li>
					<li><a href="logout">Salir</a></li>
				</ul>
			</div>
			
		</div>
	</div>
</header>
{% endblock header %}



{% block contenido %}
	<section>
		<form action="" method="GET" id="formSelUbigeoReportes">
			<div class="row">
				<div class="small-6 columns">
					<div class="row">
						<div class="small-4 columns">
							<label for="ambito">
								Ambito:
							</label>
						</div>

						<div class="small-8 columns">
							<select name="ambito" id="ambito">
								{% for ambito in ambitos %}
									<option value="{{ambito.pk}}">{{ambito}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					
					
				</div>
			</div>

			<div class="row">
				<div class="small-3 columns">
					<label for="region">
						Región
						<select name="region" id="region">
							{% for region in regiones %}
								<option value="{{region.pk}}">{{region}}</option>
							{% endfor %}
						</select>
					</label>
				</div>

				<div class="small-3 columns">
					<label for="provincia">
						Provincia
						<select name="provincia" id="provincia">
							<option value="0">--Provincia--</option>
							{% for provincia in provincias %}
								<option value="{{provincia.pk}}">{{provincia}}</option>
							{% endfor %}
						</select>
					</label>
				</div>

				<div class="small-4 columns">
					<label for="distrito">
						Distrito
						<select name="distrito" id="distrito">
							<option value="0">--Distrito--</option>
						</select>
					</label>
				</div>
				<div class="small-2 columns buscarReportes">

					<input type="submit" class="button tiny" value="Buscar" />
				</div>
			</div>
			
			
		</form>
	</section>

	<div id="contenido">
		<ul>
		{% for centroVotacion in centrosVotacion %}
			<li>{{centroVotacion}}</li>
		{% empty %}
			<li>Seleccione un distrito</li>
		{% endfor %}
		</ul>
	</div>
{% endblock contenido %}

