@import "icomoon.styl"

gris_oscuro = #333333
gris_claro = #818181
gris_mas_claro = #f0f0f0


form
	padding .8rem
	padding-bottom 0
	border 1px solid gris_claro
	margin-top .5rem
	border-radius 5px

input[type="file"]
input[type="radio"]
select
	height auto
	margin-bottom: .5rem
	padding .3rem .5rem

table
	width 100%


.acta
	width 100%
	th
		width 15%
		&:nth-child(1)
			width 70%

.center-text
	text-align center

#contenido
	border 1px solid gris_claro
	padding .8rem
	margin-top .5rem
	border-radius 5px

.icon-check
	color green

.votos
	font-size .7em

.title
	font-size 1em
	background gris_mas_claro
	margin 0 .4rem
	margin-top -.5rem
	margin-bottom .5em
	height 3rem
	line-height 3rem
	overflow hidden
	color gris_oscuro
	border-radius 5px


