@import "icomoon.styl"

gris_oscuro = #333333
gris_claro = #818181
gris_mas_claro = #f0f0f0

figure
	margin 0

form
	padding .8rem
	padding-bottom 0
	border 1px solid gris_claro
	margin-top .5rem
	border-radius 5px

input[type="file"]
input[type="radio"]
select
	height auto
	margin-bottom: .5rem
	padding .3rem .5rem

table
	width 100%
	input[type="text"]
	input[type="number"]
		margin 0


.acta
	width 100%
	th
		width 15%
		&:nth-child(1)
			width 70%

.button-buscar
	position absolute
	top 1.5rem
	right 1em
	input
		margin-bottom 0

.buscarReportes
	padding-top 1em;
	input
		margin-bottom 0

.center-text
	text-align center

.center-block
	margin 0 auto

#contenido
	border 1px solid gris_claro
	padding .8rem
	margin-top .5rem
	border-radius 5px
	min-height 30em
	margin-bottom 1rem

.error-msg
	background #fde262
	border 1px solid #c59d38
	padding 1em 2em
	color red
	border-radius 5px


#formSelUbigeo
	position relative

.icon-check
	color green

.login-wrapper
	width 30em
	margin-top 10em

.menu
	overflow hidden
	list-style none
	margin 0
	padding 0

	li
		float left
		a
			display inline-block
			padding .5em 1em .3em
			// background gris_mas_claro
			border-bottom 5px solid transparent
			&:hover
				border-bottom 5px solid gris_claro


.title
	font-size .8em
	font-weight bold
	background gris_mas_claro
	margin 0 .4rem
	margin-top -.5rem
	margin-bottom .5em
	height 3rem
	line-height 3rem
	overflow hidden
	color gris_oscuro
	border-radius 5px

.votos
	font-size .7em




