<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block title %}
		<title>Elecciones Regionales Municipales 2014</title>	
	{% endblock title %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "foundation/css/foundation.min.css" %}" />
	<link rel="stylesheet" href="{% static "css/elecciones.css" %}" />
</head>
<body>
	<header class="row">
		<form action="" method="GET" id="formSelUbigeo">
			<div>
				<div class="small-3 columns">
					<label for="ambito">
						Ambito
						<select name="ambito" id="ambito">
							{% for ambito in ambitos %}
								<option value="{{ambito.pk}}">{{ambito}}</option>
							{% endfor %}
						</select>
					</label>
				</div>

				<div class="small-2 columns">
					<label for="region">
						Región
						<select name="region" id="region">
							{% for region in regiones %}
								<option value="{{region.pk}}">{{region}}</option>
							{% endfor %}
						</select>
					</label>
				</div>

				<div class="small-2 columns">
					<label for="provincia">
						Provincia
						<select name="provincia" id="provincia">
							<option value="0">--Provincia--</option>
							{% for provincia in provincias %}
								<option value="{{provincia.pk}}">{{provincia}}</option>
							{% endfor %}
						</select>
					</label>
				</div>

				<div class="small-3 columns">
					<label for="provincia">
						Distrito
						<select name="distrito" id="distrito">
							<option value="0">--Distrito--</option>
						</select>
					</label>
				</div>

				<div class="small-2 columns">
					<br>
					<input type="submit" class="button tiny" value="Buscar" />
				</div>
			</div>
		</form>
		<hr />
	</header>
	<section class="row">
		{% block contenido %}
		<div class="columns small-12">
			<h1>Elecciones Regionales Municipales 2014</h1>
		</div>
		{% endblock contenido %}
	</section>

	<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
	<script src="{% static 'js/elecciones.js' %}"></script>
</body>
</html>