<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block title %}
		<title>Elecciones Regionales Municipales 2014</title>	
	{% endblock title %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "foundation/css/foundation.min.css" %}" />
	<link rel="stylesheet" href="{% static "css/elecciones.css" %}" />
</head>
<body>
	<section class="row">
		{% block contenido %}
		<div class="columns small-12">
			<h1>Elecciones Regionales Municipales 2014</h1>
		</div>
		{% endblock contenido %}
	</section>

	<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
	<script src="{% static 'js/elecciones.js' %}"></script>
</body>
</html>